mpc-module[type="console"] {
  font: 1em/1.25 monospace;
}

mpc-module[type="console"]>mpc-console-lines {
  display: block;
}

mpc-module[type="console"] mpc-console-line {
  display: block;
  position: relative;
  white-space: pre-line;
  border-bottom: 1px solid #aaa;
  padding: 0.25em 0.25em 0.25em 1.5em;
  overflow: auto;
}

mpc-module[type="console"] mpc-expander[type="lines-expander"]>mpc-expander-label {
  border-bottom: 1px solid #aaa;
  font-weight: bold;
}

mpc-module[type="console"] mpc-expander[type="lines-expander"]:hover>mpc-expander-label {
  background: #eee;
  border-radius: 3px;
}

mpc-module[type="console"] mpc-expander[type="lines-expander"]>mpc-console-line {
  display: none;
  padding-left: 2em;
}

mpc-module[type="console"] mpc-expander[type="lines-expander"]>mpc-console-line::before {
  padding-left: 0.5em;
}

mpc-module[type="console"] mpc-expander[type="lines-expander"][open]>mpc-console-line {
  display: block;
}

mpc-module[type="console"] mpc-expander[type="lines-expander"][open]::after {
  content: "";
  border-left: 1px solid #777;
  border-bottom: 1px solid #777;
  position: absolute;
  top: 1.5em;
  left: 1.45em;
  bottom: 0.7em;
  width: 0.25em;
}

mpc-module[type="console"]>mpc-console-lines>mpc-expander[type="lines-expander"][open]::after {
  left: 0.45em;
}

mpc-module[type="console"] mpc-console-line::before,
mpc-module[type="console"] mpc-console-input-line::before {
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1.5em;
  text-align: center;
  z-index: 1;
}

mpc-module[type="console"] mpc-console-line>mpc-expander {
  display: inline-block;
  vertical-align: top;
  white-space: pre;
}

mpc-module[type="console"] mpc-console-line>mpc-expander>mpc-expander-label {
  padding-left: 0;
}

mpc-module[type="console"] mpc-console-line>mpc-expander[expandable]>mpc-expander-label {
  padding-left: 1em;
}

mpc-module[type="console"] mpc-console-line[type="warn"] {
  background: #fed;
  color: #440;
}

mpc-module[type="console"] mpc-console-line[type="warn"]::before {
  content: "\26A0";
}

mpc-module[type="console"] mpc-console-line[type="info"] {
  background: #def;
  color: #00a;
}

mpc-module[type="console"] mpc-console-line[type="info"]::before {
  content: "\2139";
}

mpc-module[type="console"] mpc-console-line[type="error"] {
  background: #fdd;
  color: #f00;
}

mpc-module[type="console"] mpc-console-line[type="error"]::before {
  content: "\2BBF";
}

mpc-module[type="console"] mpc-console-line[type="input"] {
  padding: 0;
}

mpc-module[type="console"] mpc-console-line[type="input"]::before {
  content: ">";
  color: #08f;
}

mpc-module[type="console"] mpc-console-line[type="output"]::before {
  content: "<";
  color: #666;
}

mpc-module[type="console"] mpc-console-input-line {
  display: block;
  position: relative;
}

mpc-module[type="console"] mpc-console-input-line::before {
  content: ">";
  color: #08f;
  font-weight: bold;
}

mpc-module[type="console"] .CodeMirror {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 0.25em 0.25em 0.25em 1.5em;
  margin: 0;
  display: block;
  border: none;
  overflow: hidden;
  font: inherit;
}

mpc-module[type="console"] .CodeMirror-lines {
  padding: 0;
}

mpc-module[type="console"] .CodeMirror-focused {
  box-shadow: inset 0 0 1px 1px #08f;
  outline: none;
}